.header-container {
  display: flex;
  //flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-header{
  display: flex;
  justify-content: space-between;
}

.image-button img {
  width: 50px;
  height: 50px;
  background: none;
  padding: 2px;
}

/* Centrage des boutons centraux */
.centered {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espace entre les icônes */
  //width: 100%; /* Prend toute la largeur */
  border-radius: 10px;
  border: 4px solid #86918D;
  align-self: flex-start;
}

/* Aligner le bouton des paramètres à droite */
.settings {
  align-self: flex-end; /* Place à droite de la section */
}
