<header>
  <div class="header-container">
    <!-- Logo -->
<!--    <div class="logo">-->
<!--      <img src="../assets/img/logo.jpg" alt="Logo JesterQuizz" />-->
<!--    </div>-->

    <!-- Title -->
    <div class="left-header">
      <h1>JesterQuizz</h1>
      <div id="Quizzchoices">
        <button class="image-button">
          <img src="assets/img/Quizz.png" alt="Quizz choices button" />
        </button>
      </div>
    </div>


    <div id="centered_buttons" class="bg-battleshiep-gray-light centered centered-buttons-border">
      <button class="image-button">
        <img src="assets/img/Chrono.png" alt="Chrono button" >
      </button>
      <button class="image-button">
        <img src="assets/img/Swords.png" alt="Swords button" >
      </button>
      <button class="image-button">
        <img src="assets/img/Shuffle.png" alt="Shuffle button" >
      </button>
    </div>

    <!-- Settings Button -->
    <div id="settings" class="settings">
      <button class="image-button">
        <img src="assets/img/settings.png" alt="Settings button" >
      </button>
    </div>
  </div>
</header>
