.OtherGameDiv {
  display: flex;
  background: none;
  flex-wrap: wrap;
  gap: 25px;
}
.listinggames{
  padding: 10px 15px;
}
#WaitingAdverse{
  background: var(--ecru);
}
.listinggames h3 {
  background: none;
}
.listinggames div {
  background: none;
}

#currentGame {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex-grow: 1;
}
