.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  text-align: left;
  color: var(--more-accentuated-blue);
}

.player {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
}

:host {
  ::ng-deep .p-button {
    background: var(--accentuated-blue);
    padding: 0.5rem 1rem;
  }


}
