@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'inter', sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

html,
body {
  background: #fffdf8;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --accentuated-blue: #274562;
  --more-accentuated-blue: #1b2e44;
  --bg: #fffdfb;
  --indigo-dye-light: #5e8ebc;
  --black-bean: #280003;
  --radwood: #aa6c6c;
  --radwood-light: #cc9c9c;
  --ecru: #d1b583;
  --battleship-gray-light: #d4dbd0;
  --battleship-gray: #86918d;
}

.image-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer; /* Change le curseur au survol */
}

.image-button img {
  display: block; /* Évite les espaces blancs autour de l'image */
  width: 100%;
  height: auto;
}

.bg-battleshiep-gray-light {
  background: #d4dbd0;
  //opacity: 0.1;
}

.centered-buttons-border {
  border: 4px solid #86918d;
}

h1 {
  font-size: 24px;
  margin: 4px;
}

h3 {
  font-size: 20px;
  padding: 2px;
}
