.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
}

.auth-card {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 6px var(--battleship-gray);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.logo {
  margin-bottom: 1.5rem;
}

.input-field {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 4px;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  background: var(--bg);
}
.btn:hover {
  background: var(--more-accentuated-blue);
}

.switch-mode {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.switch-mode a {
  color: var(--indigo-dye-light);
  text-decoration: none;
  cursor: pointer;
}

.switch-mode a:hover {
  text-decoration: underline;
}

p-dialog .p-dialog-header {
  background-color: var(--bg);
  color: var(--radwood);
  font-weight: bold;
}

p-dialog .p-dialog-content {
  color: var(--black-bean);
  font-size: 1rem;
}

p-dialog .p-footer .p-button {
  background-color: var(--accentuated-blue);
  color: var(--bg);
  margin: 20px;
}

