<p-tabView>
  <p-tabPanel header="Header I">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-user" style="font-size: 1.75rem"></i>
      </div>
    </ng-template>
    <div class="friend-list">
      @for (user of friends; track user.id) {
      <app-friend [player]="user" />
      }
    </div>
  </p-tabPanel>
  <p-tabPanel header="Header II">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-user-plus" style="font-size: 1.75rem"></i>
      </div>
    </ng-template>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
    </p>
  </p-tabPanel>
</p-tabView>
